html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
}

#Home {
    background-image: url(resources/home_banner.jpg);
    opacity: 0.75;
    background-color: black;
    position: relative;
    height: 624px;
    width: 100%;
    text-align: center;
    background-size: cover;
    margin-top: 0px;
}

.navigation ul {
    margin: 0px;
    padding-right: 50px;
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 37px;
}

.navigation a {
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 16px;
}

.navigation a:hover {
    color: #2FE6DE;
}

.home-elements {
    color: ghostwhite;
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 48px;
}

.highlight {
    font-weight: 300;
    color: #2FE6DE;
}

.column {
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
    animation: scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slide-left {
      0% {
          opacity: 0;
          transform: translateX(300px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }

  @keyframes scale{
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes change-opacity{
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

.skill-img {
    width: 50%;
}

.heading {
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.black {
    border-bottom: 3px solid black;
    width: 10%;
    background-color: black;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

hr {
    border-bottom: 3px solid #909cc2;
    background-color: #909cc2;
    padding-top: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

.skill-title {
    font-size: 24px;
}

.section {
    display: inline-block;
}

.section-honors {
    display: inline-block;

}

#Project {
    background-color: rgb(183, 183, 214);
    width: 100%;
    text-align: center;
}

#Contact {
    background-color: white;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #00274C;
    text-align: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

.footer-text {
    color: white;
}

.section {
    margin: 0;
    padding: 0;
}

.two-part {
    float: left;
    width: 50%;
    padding: 0px;
    margin-top: 75px;
    text-align: center;
    align-items: center;
}
#left-part {
    align-items: center;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#right-part {
    align-items: center;
    animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.about-skills {
    margin-top: 75px;
}

.skill-container {
    background-color: ghostwhite;
    text-align: left;
    width: 80%;
    display: inline-block;
    margin-bottom: 10px;
}

.skill-box {
    text-align: right;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.two-part {
    margin-bottom: 30px;
}

.c, .git{
    width: 80%;
    background-color: #4B4E6D;
}

.html, .css {
    width: 65%;
    background-color: #4B4E6D;
}

.python {
    width: 50%;
    background-color: #4B4E6D;
}

.office, .org {
    width: 90%;
    background-color: #4B4E6D;
}

.com {
    width: 98%;
    background-color: #4B4E6D;
}

.skill-label p {
    text-align: left;
}

.skill-box-text {
    padding-top: 10px;
    text-align: right;
    display: inline-block;
    float: left;
    width: 15%;
    font-size: 12px;
}

.me-img {
    width: 30%;
    border: 1px solid black;
}

.about-text {
    margin: 0 20%;
    padding-top: 25px;
}

.about-text-honors {
    margin: 0 5%;
    color: black;
}
.me-title {
    font-size: 36px;
}

.project-row {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
 }

.project-column {
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 25%;
    height: 250px;
}

.project-column:hover .overlay{
    bottom: 0;
    height: 100%;
    opacity: 1;
}

.overlay {
    position: absolute;
    opacity: 0.5;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: 1s ease;
}

.proj-img {
      height: 100%;
      width: 100%;
      display: block;
}

.overlay-text {
    color: ghostwhite;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.learn-btn {
    background-color: ghostwhite;
    border: 2px solid #4B4E6D;
    color: #4B4E6D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.project-column img {
      background-color: ghostwhite;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    border: 0;
    width: 50%;
    left: 25%;
    height: auto;
    overflow: auto;
}

.close {
    color: black;
    float: right;
    height: 100%;
    font-size: 48px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.slideshow-container {
    height: auto;
    position: relative;
    margin: auto;
 }
  
.mySlides {
    display: none;
    margin-top: 10px;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    float: left;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(187, 185, 185, 0.8);
}
  
.numbertext {
    color: lightgray;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dotEA, .dotPW {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slideshow-title {
    text-align: left;
    margin-bottom: 2px;
    margin-left: 5px;
}

.slideshow-img {
    height: 100%;
}

.thin {
    border: none;
    height: 1px;
    background-color: rgb(58, 58, 58);
    margin: 0px 15px;
}

.slideshow-mini {
    color:rgba(187, 185, 185, 0.8);
    text-align: left;
    margin-top: 0px;
    margin-left: 5px;
}

.button-container {
    display: block;
    margin-bottom: 10px;
}

.modal-header {
    background-color: #008CBA;
}

.project-container {
    padding-bottom: 50px;
}

.contact-info {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

input {
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(216, 216, 218);
    border: none;
}

textarea {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 5px;
    background-color: rgb(216, 216, 218);
    border: none;
}

#email, #name {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-container {
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#submit {
    padding: 5px 15px;
    float: right;
}

.learn-btn:hover {
    background-color: rgb(245, 245, 255);
}

input:focus {
    background-color: rgb(241, 241, 241);
    outline: none;
}

textarea:focus {
    background-color: rgb(241, 241, 241);
    outline: none;
}

.icon-container {
    margin: 20px 33%;
    width: 33%;

}

.logo {
    margin: 10px 33%;
    width: 50px;
    height: auto;
}

.icon-container a {
    display: inline-block;
    position: relative;
    margin: 10px 10px;
}

.modal p {
    text-align: left;
    margin-left: 5px;
}

#banner { 
    position: relative;
    top: 0; 
    left: 0; 
    background-color: #ffd665; 
    width: 100%; 
  }

#banner-content { 
    text-align: center;
    width: 100%; 
    margin: 0 0; 
    padding: 10px; 
    color: white;
  }

#honors-para {
    display: inline-block;
    font-size: 24px;
    vertical-align: center;
    float: left;
    margin-left: 10px;
    margin-top: 0;

}

#mlogo {
    width: 4%;
    height: 4%;
    display: inline-block;
    vertical-align: center;
    float: left;
}

#banner-honors {
    background-color: rgb(52, 90, 196);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

#self-photo {
    width: 90%;
    height: auto;
}

#About-honors {
    margin-top: 50px;
}

#banner-btn {
    background-color: white;
    text-decoration: none;
    padding: 3px 3px;
    border: black;
    border-radius: 1px;
}

#banner-btn-honors {
    background-color: white;
    text-decoration: none;
    padding: 7px 7px;
    border: black;
    border-radius: 1px;
    float: right;
}

#honors-photo {
    height: 100px;
    width:auto;
    padding: 0 0;
    margin: 0 0;
}

.honors-heading {
text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#pdf {
    height: 400px;
    width: auto;
    padding: 0 20px;
    margin: 0 0;
}