html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

#Home {
    background-image: url(resources/home_banner.jpg);
    opacity: 0.75;
    background-color: black;
    position: relative;
    height: 624px;
    width: 100%;
    text-align: center;
    background-size: cover;
    margin-top: 0px;
}

.navigation ul {
    margin: 0px;
    padding-right: 50px;
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 37px;
}

.navigation a {
    text-decoration: none;
    color: gainsboro;
    text-transform: uppercase;
    font-size: 16px;
}

.navigation a:hover {
    color: rgb(224, 144, 144);
}

.home-elements {
    color: gainsboro;
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 48px;
}

.highlight {
    font-weight: 300;
    color: rgb(224, 144, 144)
}

.column {
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
    animation: scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slide-left {
      0% {
          opacity: 0;
          transform: translateX(300px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }

  @keyframes scale{
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

.skill-img {
    width: 50%;
}

.heading {
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.black {
    border-bottom: 3px solid black;
    width: 10%;
    background-color: black;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

hr {
    border-bottom: 3px solid rgba(3, 218, 218, 0.5);
    background-color: rgba(3, 218, 218, 0.5);
    padding-top: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

.skill-title {
    font-size: 24px;
}

.section {
    display: inline-block;
}

#Projects {
    background-color: gainsboro;
    width: 100%;
    text-align: center;
}

#Contact {
    background-color: #01519c;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #00274C;
    text-align: center;
}

.footer-text {
    color: white;
}

.section {
    margin: 0;
    padding: 0;
}

.two-part {
    float: left;
    width: 50%;
    padding: 0px;
    margin-top: 75px;
    text-align: center;
}
#left-part {
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#right-part {
    animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.about-skills {
    margin-top: 75px;
}

.skill-container {
    background-color: gainsboro;
    text-align: left;
    width: 80%;
    display: inline-block;
    margin-bottom: 10px;
}

.skill-box {
    text-align: right;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.two-part {
    margin-bottom: 30px;
}

.c, .git{
    width: 80%;
    background-color: #01519c;
}

.html, .css {
    width: 65%;
    background-color: #01519c;
}

.python {
    width: 50%;
    background-color: #01519c;
}

.office, .org {
    width: 90%;
    background-color: #01519c;
}

.com {
    width: 98%;
    background-color: #01519c;
}

.skill-label p {
    text-align: left;
}

.skill-box-text {
    padding-top: 10px;
    text-align: right;
    display: inline-block;
    float: left;
    width: 15%;
    font-size: 12px;
}

.me-img {
    width: 30%;
    border: 1px solid black;
}

.about-text {
    margin: 0 20%;
    padding-top: 25px;
}

.me-title {
    font-size: 36px;
}